<div class="custom-subnav">
  <ul class="nav nav-pills">
    
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Filters <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <% @categories.each do |category| %>
          <li><%= link_to category.title, props_path(:category => category.title, :sort_by => params[:sort_by]), :class => "category-filters" %></li>
        <% end %>
      </ul>
    </li>
    
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sort <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><%= link_to "Names", props_path(:category => params[:category], :sort_by => "name"), :class => "sort-filters" %></li>
        <li><%= link_to "Point", props_path(:category => params[:category], :sort_by => "point"), :class => "sort-filters" %></li>
      </ul>
    </li>
    
  </ul>
</div>