<div class="page-header">
  <h1>Props</h1>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <% @props.each do |prop| %>
      <tr>
        <td><%= link_to prop.title, prop_path(prop) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
