<div class="awards">
  <header class="jumbotron subhead" id="overview">
    <h1>Props Available</h1>
    <%= render :partial => "subnav" %>
  </header>
  <hr>
  <div id="grid-original" class="row">
    <% @props.each do |prop| %>
      <div class="span3">
        <%= link_to prop_path(prop) do %>
          <div class="well">
            <h2><%= prop.title %></h2>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>




