<div class="awards">
  <header class="jumbotron subhead" id="overview">
    <h1>Props Available</h1>
    <%= render :partial => "subnav" %>
  </header>
  <hr>
  <div class="row" id="PropContainer">
    <!-- PropTemplate -->
  </div>
</div>


<script id="PropTemplate" type="text/x-handlebars-template">
  {{#each this}}
    <div class="span3">
      <div class="well">
        <h2>{{{link_to this}}}</h2>
        <h6>8 point</h6>
      </div>
    </div>
  {{/each}}
</script>



<div id="loading" style="display: none; ">Loading...</div>
