<div class="awards">
  <header class="jumbotron subhead" id="overview">
    <h1>Props Available</h1>
    <%= render :partial => "subnav" %>
  </header>
  <hr>
  <div class="row" id="PropContainer">
    <!-- PropTemplate -->
    <% @props.each do |prop| %>
    <div class="span3">
      <div class="well">
        <h2><%= link_to prop.title, prop %></h2>
        <h6><%= "#{prop.point} point" %></h6>
      </div>
    </div>
    <% end %>
  </div>
</div>




