// Place all the styles related to the props controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Marketing section of Overview
-------------------------------------------------- */
.awards .row {
  margin-bottom: 9px;
}
.awards h1 {
  margin: 36px 0 27px;
  font-size: 40px;
  font-weight: 300;
  text-align: left;
}
.awards h2,
.awards h3 {
  font-weight: 300;
}
.awards h2 {
  font-size: 22px;
}
.awards p {
  margin-right: 10px;
}
.awards .bs-icon {
  float: left;
  margin: 7px 10px 0 0;
  opacity: .8;
}
.awards .small-bs-icon {
  float: left;
  margin: 4px 5px 0 0;
}