// Place all the styles related to the props controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Marketing section of Overview
-------------------------------------------------- */
.awards .row {
  margin-bottom: 9px;
}
.awards h1 {
  margin: 36px 0 27px;
  font-size: 40px;
  font-weight: 300;
  text-align: left;
}
.awards h2,
.awards h3 {
  font-weight: 300;
}
.awards h2 {
  font-size: 22px;
}
.awards p {
  margin-right: 10px;
}
.awards .bs-icon {
  float: left;
  margin: 7px 10px 0 0;
  opacity: .8;
}
.awards .small-bs-icon {
  float: left;
  margin: 4px 5px 0 0;
}

/* Ajax indicator for props
-------------------------------------------------- */
#loading {
  position: fixed;
  left: 50%;
  bottom: 0;
  padding: 10px 0px;
  width: 130px;
  margin-left: -65px;
  text-align: center;
  z-index: 9;

  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  background: rgba(0,0,0,0.8);
  color: white;

  -moz-box-shadow: 0 1px 3px #000000;
  -webkit-box-shadow: 0 1px 3px #000000;
}