<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
      <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Propapp", home_link, :class => "brand" %>
      <div class="container nav-collapse">
        <ul class="nav">
            <%= content_tag :li, :class => nav_class(new_user_invitation_path) do -%>
              <%= link_to "Invite", new_user_invitation_path %>
            <% end -%>
        </ul>
        <% if user_signed_in? %>
          <%= render :partial => "layouts/login_nav_items" %>
        <% end %>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>